.employeesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.allTable {
  width: 65%;
}

.searchInput {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}
.searchInput > input {
  margin-left: 0.5rem;
}

.NbOfItemsDisplayed {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}
.NbOfItemsDisplayed > select {
  margin: 0 0.5rem;
}

.tableUpperPart,
.LowerTable {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.PrevBtn,
.NextBtn {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 0;
  color: black;
}

.pagesNbr {
  margin: 0 0.5rem;
  padding: 0.5em 1rem;
  border: 1px solid #979797;
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
.pagesNbr:hover {
  background-color: rgb(199, 199, 199);
}

.sortingIconsContainer {
  display: flex;
  flex-direction: column-reverse;
}
.IconsContainer {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortingContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sortingIcons {
  display: inline-block;
  font-size: 0.7rem;
  color: rgb(206, 204, 204);
}

.downIcons{
  position: relative;
  top: -7px;
}

.sortingIcons > svg {
  background-color: red;
  padding: 0;
}

.sortingIcons:active,
.sortingIcons:hover {
  color: blue;
}

.odd {
  background-color: rgb(248, 248, 248);
}

.even {
  background-color: white;
}

.odd:hover,
.even:hover {
  background-color: rgb(233, 233, 233);
}
